$color-primary-600: #2e323f;
$color-primary-400: #3b4050;
$color-primary-200: #6f737f;

$color-white: #fff;
$color-secondary: #a59678;

$font-heading: "Oswald", sans-serif;
$font-body: "Montserrat", sans-serif;

body {
  background-color: pink;
  margin: 0;
}
